body{
	margin: 0 auto;
}
.bgHeader{
	background-color: #f0f2f4;
	background-size: cover;
	font-family: Helvetica, sans-serif;
}
header{
	margin: 0 auto;
	height: 40px;
	max-width: 1021px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid #e2e2e2;
}
.header_contacts {
	display: flex;
	justify-content: flex-end;
	max-width: 1021px;
	font-size: 15px;
}
.fa-envelope{
	padding: 6px 9px 0 19px;
}
.infoHeader{
	padding: 3px 1px 0 0;
}
.fa-mobile-alt{
	padding-right: 11px;
	padding-top: 5px;
}
.phone{
	padding-right: 19px;
	padding-top: 3px;
	border-right: 2px solid #e3e3e3;
}
.fa-facebook-f{
	padding: 5px 9px 5px 9px;
	color: #FFFFFF;
}
.facebookLogo{
	background-color: #1287bf;
	border-radius: 3px;
	margin: -1px 0 5px 12px;
}
.section_first{
	margin: 0 auto;
	max-width: 1021px;
	height: 131px;
	display: flex;
	align-items: center;
	font-family: Helvetica Neue, sans-serif;
}

.headerNavBar{
	display: flex;
}
.headerNavBar-text{
	display: flex;
	flex-direction: column;
	color: #424242;
}
.logoMainText{
	font-size: 37px;
	font-weight: 700;
	margin: -5px 0 -4px 6px;
}
.logoOtherText{
	font-size: 15px;
	font-weight: 400;
	margin: 2px 0 0 10px;
}
.headerNavBarList{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Helvetica Neue, sans-serif;
}
.headerNavBarList ul{
	display: flex;
	flex-direction: row;
	font-size: 15px;
	font-weight: 700;
	margin-left: 120px;
}

.headerNavBarList li:nth-child(1){
	list-style-type: none;
}
.dot{
	color: red;
	margin: 0 0 2px 33px;
}
.dot1{
	padding-left: 5px;
	margin-left: 32px;
}
.dot2{
	padding-left: 3px;
	margin-left: 34px;
}
.dot3{
	padding-left: 3px;
	margin-left: 34px;
}
.headerNavBarButton{
	padding: 9px 22px 11px 21px;
	margin-left: 33px;
	color: #FFFFFF;
	background-color: #de2b24;
	border-radius: 4px;
	border: none;
	font-size: 15px;
	font-weight: 700;
}
.headerBg{
	margin: 0 auto;
	display: flex;
}
.headerBack{
	min-width: 1400px;
	width: 100%;
	height: 590px;
	background-image: url("../pixelPerfect/images/headerBg.png");
	background-size: cover;
	margin: -2px 0 0 -26px;
	z-index: -1;
	display: flex;
	justify-content: center;
	font-family: Helvetica Neue, sans-serif;
	color: #FFFFFF;
}
.mainText_section1 div{
	display: flex;
	justify-content: center;
}
.biggestText{
	margin: 169px 0 0 2px;
	font-size: 48px;
	font-weight: 700;
}
.smallerText{
	font-size: 29px;
	font-weight: 300;
	margin: -3px 0 0 1px;
}
.mainButtonBg{
	font-size: 23px;
	font-weight: 700;
	background-color: #f8cd53;
	width: 330px;
	height: 69px;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	margin: 31px 0 0 0;
	color: #FFFFFF;
}
.mainText_section1 a{
	text-decoration: none;
}
.text_Button_Free{
	margin: 1px 2px 0 0;
}
.text_Button_Another{
	margin: 0 -1px 0 0;
}
.section_second{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1021px;
	font-family: "Helvetica Neue", sans-serif;
}
.aboutUs_section2{
	font-weight: 700;
	font-size: 36px;
	color: #424242;
	margin: 96px 0 0 430px;
}
.aboutUs_minor{
	color: #424242;
	font-size: 19.4px;
	font-weight: 300;
	margin: -2px 0 20px 367px;
}
.aboutUs_minor::after{
	content: " ";
	display: block;
	position: relative;
	width: 47px;
	height: 5px;
	background: #424242;
	top: 13px;
	left: 120px;
}
.icons_Content{
	margin: 31px 0 0 0;
	display: flex;
}
.thumb{
	width: 238px;
	text-align: center;
	margin: 8px 0 0 49px;
}
.thumb_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 20px -2px 0 0;
}
.thumb_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13.5px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 11px 0 0 0;
}
.book{
	width: 257px;
	text-align: center;
	margin: 9px 0 0 90px;
}
.book_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 19px 0 0 8px;
}
.book_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13.5px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 12px 0 0 12px;
}
.comments{
	width: 244px;
	text-align: center;
	margin: 14px 0 0 90px;
}
.comments_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 12px 0 0 7px;
}
.comments_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13.5px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 12px 0 0 12px;
}
.section_third{
	height: 870px;
	background-color: #de2b24;
	background-size: cover;
	margin: 157px 0 0 0;
}
.section_third_content{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	max-width: 1021px;
	font-family: "Helvetica Neue", sans-serif;
}
.ourWork_section3{
	font-size: 36px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 105px 0 0 0;
}
.ourWork_minor{
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	margin: -2px -7px 0 0;
}
.ourWork_minor::after{
	content: " ";
	display: block;
	position: relative;
	width: 47px;
	height: 5px;
	background: #ffffff;
	top: 13px;
	left: 150px;
}
.blocks_with_photos{
	display: flex;
	margin: 0 auto;
	max-width: 1021px;
}
.block{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 255px;
	height: 253px;
	background-color: #f35e59;
}