body{
	margin: 0 auto;
}
.bgHeader{
	background-color: #f0f2f4;
	background-size: cover;
	font-family: Helvetica, sans-serif;
}
header{
	margin: 0 auto;
	height: 40px;
	max-width: 1021px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid #e2e2e2;
}
.header_contacts {
	display: flex;
	justify-content: flex-end;
	max-width: 1021px;
	font-size: 15px;
}
.fa-envelope{
	padding: 6px 9px 0 19px;
}
.infoHeader{
	padding: 3px 1px 0 0;
}
.fa-mobile-alt{
	padding-right: 11px;
	padding-top: 5px;
}
.phone{
	padding-right: 19px;
	padding-top: 3px;
	border-right: 2px solid #e3e3e3;
}
.fa-facebook-f{
	padding: 5px 9px 5px 9px;
	color: #FFFFFF;
}
.facebookLogo{
	background-color: #1287bf;
	border-radius: 3px;
	margin: -1px 0 5px 12px;
}
.section_first{
	margin: 0 auto;
	max-width: 1021px;
	height: 131px;
	display: flex;
	align-items: center;
	font-family: Helvetica Neue, sans-serif;
}

.headerNavBar{
	display: flex;
}
.headerNavBar-text{
	display: flex;
	flex-direction: column;
	color: #424242;
}
.logoMainText{
	font-size: 37px;
	font-weight: 700;
	margin: -5px 0 -4px 6px;
}
.logoOtherText{
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 0 9px;
}
.headerNavBarList{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Helvetica Neue, sans-serif;
}
.headerNavBarList ul{
	display: flex;
	flex-direction: row;
	font-size: 15px;
	font-weight: 700;
	margin-left: 120px;
}

.headerNavBarList li:nth-child(1){
	list-style-type: none;
}
.dot{
	color: red;
	margin: 0 0 2px 33px;
}
.dot1{
	padding-left: 7px;
	margin-left: 30px;
}
.dot2{
	padding-left: 3px;
	margin-left: 34px;
}
.dot3{
	padding-left: 3px;
	margin-left: 34px;
}
.headerNavBarButton{
	padding: 9px 22px 11px 21px;
	margin-left: 33px;
	color: #FFFFFF;
	background-color: #de2b24;
	border-radius: 4px;
	border: none;
	font-size: 15px;
	font-weight: 700;
}
.headerBg{
	margin: 0 auto;
	display: flex;
}
.headerBack{
	min-width: 1400px;
	width: 100%;
	height: 590px;
	background-image: url("../pixelPerfect/images/headerBg.png");
	background-size: cover;
	margin: -2px 0 0 -10px;
	z-index: -1;
	display: flex;
	justify-content: center;
	font-family: Helvetica Neue, sans-serif;
	color: #FFFFFF;
}
.mainText_section1 div{
	display: flex;
	justify-content: center;
}
.biggestText{
	margin: 169px 0 0 2px;
	font-size: 48px;
	font-weight: 700;
}
.smallerText{
	font-size: 29px;
	font-weight: 300;
	margin: -3px 0 0 1px;
}
.mainButtonBg{
	font-size: 23px;
	font-weight: 700;
	background-color: #f8cd53;
	width: 330px;
	height: 69px;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	margin: 31px 0 0 0;
	color: #FFFFFF;
}
.mainText_section1 a{
	text-decoration: none;
}
.text_Button_Free{
	margin: 1px 2px 0 0;
}
.text_Button_Another{
	margin: 0 -1px 0 0;
}
.section_second{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1021px;
	font-family: "Helvetica Neue", sans-serif;
}
.aboutUs_section2{
	font-weight: 700;
	font-size: 36px;
	color: #424242;
	margin: 96px 0 0 430px;
}
.aboutUs_minor{
	color: #424242;
	font-size: 19px;
	font-weight: 300;
	margin: -2px 0 20px 367px;
}
.aboutUs_minor::after{
	content: " ";
	display: block;
	position: relative;
	width: 47px;
	height: 5px;
	background: #424242;
	top: 13px;
	left: 120px;
}
.icons_Content{
	margin: 31px 0 0 0;
	display: flex;
}
.thumb{
	width: 238px;
	text-align: center;
	margin: 8px 0 0 49px;
}
.thumb_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 20px -2px 0 0;
}
.thumb_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 11px 0 0 0;
}
.book{
	width: 257px;
	text-align: center;
	margin: 9px 0 0 90px;
}
.book_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 19px 0 0 8px;
}
.book_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 12px 0 0 12px;
}
.comments{
	width: 244px;
	text-align: center;
	margin: 14px 0 0 90px;
}
.comments_Content_main{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #424242;
	margin: 12px 0 0 7px;
}
.comments_Content_additional{
	font-family: OpenSans, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #5b5b5b;
	margin: 12px 0 0 12px;
}
.section_third{
	height: 870px;
	background-color: #de2b24;
	background-size: cover;
	margin: 157px 0 0 0;
}
.section_third_content{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: -2px auto;
	max-width: 1021px;
	font-family: "Helvetica Neue", sans-serif;
}
.ourWork_section3{
	font-size: 36px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 105px 0 0 0;
}
.ourWork_minor{
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	margin: -2px -7px 0 0;
}
.ourWork_minor::after{
	content: " ";
	display: block;
	position: relative;
	width: 47px;
	height: 5px;
	background: #ffffff;
	top: 13px;
	left: 150px;
}
.blocks_with_photos{
	display: flex;
	margin: 62px 95px auto;
	max-width: 1024px;
}
.blocks_with_photos_second{
    display: flex;
    margin: -5px 0  126px auto;
    max-width: 1024px;
}
.block{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 255px;
	height: 253px;
	background-color: #f35e59;
	color: #ffffff;
	font-family: Helvetica Neue, sans-serif;
}
.block_second{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 257px;
	height: 253px;
	background-color: #f35e59;
	color: #ffffff;
	font-family: Helvetica Neue, sans-serif;
}
.block_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 77px 3px 0 0;
}
.block_photo_size img{
    width: 257px;
}
.blocks_photo_size_second img{
    width: 255px;
}
.text_in_block{
    font-size: 26px;
    font-weight: 700;
    margin: 22px 0 0 0;
}
.text_in_block_minor{
    font-size: 16px;
    font-weight: 700;
}
.section_fourth_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-size: cover;
    background-color: #2a2a2a;
    font-family: "Helvetica Neue", sans-serif;
}
.get_in_touch{
    color: #FFFFFF;
    font-size: 29px;
    font-weight: 700;
    margin: 88px 0 0 0;
}
.social_media_icons{
    display: flex;
    margin: 0 auto;
}
.social_media_icons{
    margin: 34px 20px 0 0;
    width: 400px;
    align-items: center;
}
.social_media_icons a{
    color: #FFFFFF;
}
.fb{
    border-radius: 1px;
    border: 2px solid #de2b24;
    padding: 11px 6px 11px 10px;
    margin: -12px 20px 0 80px   ;
}
.tw{
    border-radius: 1px;
    border: 2px solid #505050;
    padding: 15px 12px 12px 13px;
    margin: -12px 20px 0 -1px;
}
.google{
    border-radius: 1px;
    border: 2px solid #505050;
    padding: 15px 8px 13px 10px;
    margin: -12px 20px 0 1px;
}
.ln{
    border-radius: 1px;
    border: 2px solid #505050;
    padding: 15px 14px 13px 11px;
    margin: -13px 15px 0 0;
}
.subscribe{
    margin: 33px 3px 0 0;
    color: #cecece;
    font-size: 15px;
    font-weight: 400;
    font-family: "Helvetica Neue", sans-serif;
}
.email {
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 22px 0 16px 22px;
    width: 661px;
    margin: 29px 1px 0 0;
    background-color: #515151;
    border: none;
}
.subscribeButton{
    border: 2px solid #515151;
    border-radius: 2px;
    background-color: #2a2a2a;
    color: #FFFFFF;
    cursor: pointer;
    padding: 14px 34px 14px 33px;
    margin: 28px 0 82px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515151;
    color: #cecece;
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    font-weight: 400;
}
.copyright{
    margin: 25px 25px 26px 6px;
}